<app-auth-form-container authAction="LOGIN" hideSocialAuthActions="">
    <p>
      Another account is already associated with the email
      <strong>{{ $userCredential()?.email }}</strong
      >. To link the provider (<span class="capitalize">{{
        $providerName()
      }}</span
      >) to this account, please enter the password of the account associated with
      this email.
    </p>
    <form
      #formRef
      [formGroup]="form"
      (ngSubmit)="resetPassword(formRef)"
      class="flex flex-col gap-4 w-full items-center justify-center"
    >
      <app-auth-form class="w-full" hideEmailInput showConfirmPassword />
      <app-button
        label="Link Account"
        class="w-full mt-4"
        customClasses="w-full font-medium"
        [ngClass]="{ 'cursor-not-allowed': $isLoading() }"
        [isLoading]="$isLoading()"
        buttonType="submit"
      />
      @if (formError && formError.httpError === 'WRONG_CREDENTIALS') {
      <a
        class="opacity-80 text-primary font-medium hover:underline text-sm cursor-pointer"
      >
        Forgot password?
      </a>
      }
      <a
        class="flex items-center justify-center gap-2 opacity-80 hover:text-primary hover:underline cursor-pointer"
        routerLink="/auth/register"
      >
        <app-down-arrow-icon
          class="block rotate-90 opacity-80 mt-[2px]"
          [size]="16"
        />
        Go back
      </a>
    </form>
  </app-auth-form-container>
  